/* 
client.css 

  

CUSTOMIZERS: 
  leave this file alone, use overrides.css and styles.css instead

DEVELOPERS:
  only use this file to import other files. 
  
  CORE
  These files must only contain layout, sizing and positioning, and the
  minimum of styling required to show the layout correctly. All sizes/other 
  settings that can be overriden by customizers should be properly tagged 
  and included in overrides.css.

CUSTOMIZABLE:
  * /custom/fonts.css
  * /custom/overrides.css
  	the single-point mechanism for customizing core sizing/positioning of elements.
  	make sure to keep it synchronized with core files and correctly tagged.
  * styles.css

    definitions of three generic font families - Headline, Plain and Narrow
  
  * general.css
    default general styling of the body element, links, headings, etc.
  * main.css 
    top-level layout
  * header.css
    layout of the header, including the search form
  * content.css
    layout of the content panes
  * results.css
    layout of the results
    
  These customization css.files must be included last
*/



@import "/css/fonts.css";
@import "/css/general.css";
@import "/css/main.css";
@import "/css/header.css";
@import "/css/content.css";
@import "/css/results.css";

/* these must come last */
@import "/static/css/overrides.css";
@import "/static/css/styles.css";
