
/* C O N T E N T */
/* boxen */
.box-wrap {
  position:absolute;
  left: 0;
  width:100%; 
}
.box-header {
  height:15px;/*box-header.height*/
  vertical-align:middle;
}
.box-scroll, .box-overlay {
  position:absolute;
  left:0px;
  right:0px;
  bottom:0;
  display:inline-block;
  overflow:hidden;
  top:15px;/*box-header.height*/
}
.box-overlay {
  display:none;
}
.box {
  height:100%;
  position:relative;
}

/* images */
#images-wrap {
  top:0;
  height:100px;/*images.height*/;
}

body.mode-detail #images-wrap {
  height:65px;/*images-detail.height*/;
}

/* results */
#results-wrap {
  top:100px;/*images.height*/;
  bottom:0;
}
body.mode-detail #results-wrap {
  top:65px;/*images-detail.height*/;
}

#results {
  width:240px;/*results.width*/
  padding:0px;
}
body.mode-detail #results-scroll {
  width:240px;/*results.column-width*/
  padding:0;
}

body.mode-list #results {
  -moz-column-width:240px;/*results.column-width*/
  -webkit-column-width:240px;/*results.column-width*/
  -moz-column-gap:0px;
  -webkit-column-gap:0px;
}

body.mode-detail #results {
  height:auto;
}
