/* 
	CUSTOMIZERS: 
	leave this file alone, use overrides.css and styles.css instead
	
	DEVELOPERS:
	top-level layout goes in this file. bells & whistles go to local/static/css
	make sure to copy all customizable values to overrides.css
*/

#main-wrap {
  position:absolute;
  left:0; width:100%;
  top:0;  bottom:0;
  z-index:1;
  
}
body.mode-initial {
 text-align:center;
 background:white;
}

body.mode-initial #header {
  position:relative;
  display:inline-block;
  margin-top:300px;
  left:0; width:800px;
  top:0;  height:80px;
  z-index:1;
}

body.mode-detail #main-wrap {
  width:240px;/*results.column-width*/
}

#header {
  position:absolute;
  background:#ace;
  left:0;   
  right:0;
  top:0;
  overflow:hidden;
}
body.mode-initial #header {
  height:60px;/*header-initial.height*/
}
body.mode-list #header {
  height:40px;/*header.height*/
}
body.mode-detail #header {
  height:30px;/*header-detail.height*/
}


#content {
  position:absolute;
  background:white;
  left:0;
  right:0;
  bottom:20px;
  z-index:1;
}

body.mode-initial #content {
  display:none;
}
body.mode-list #content {
  top:40px;/*header.height*/
}
body.mode-detail #content {
  top:30px;/*header-detail.height*/
}


#footer {
  position:absolute;
  background:#eee;
  border-top:solid #ccc 1px;
  left:0;
  right:0;
  bottom:0px;
  height:20px;/*footer.height*/
  overflow:hidden;
  z-index:1;
}

#detail-wrap {
  position:absolute;
  top:0;
  left:240px;/*results.column*/
  right:0;
  bottom:0;
  z-index:0;
}

body.mode-detail #detail-wrap {
  display:block;
}
body.mode-list #detail-wrap {
  display:none;
}
#spinner,
#detail {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#spinner {
  z-index:1;
  display:none;
  opacity:0.35;
  background:#76B82A url("spinner_popart.gif") center center no-repeat;
}

#spinner.loading {
  display:block;
}




