/* results.css overrides */

/* R E S U L T S */
#results .datasource {
  clear:both;
}
.datasource {
  padding-right:10px;/*results.gap*/
  padding-left:10px;/*results.gap*/
}


#results .datasource-header {
  display:inline-block;
  width:100%;/*results.width*/
}

/* R E S U L T */
#results .result {
  clear:both;
  display:inline-block;
  width:100%;/*results.width*/
}
#results .result > footer {
  clear:both;
}

#results-scroll .result.ghost {
  display:none;
  position:absolute;
  z-index:1;
  left:5px;
}
/* I M A G E S */
#images {
  white-space:nowrap;
}
/* I M A G E */
#images .result {
  display:inline-block;
  position:relative;
}
#images .result .name,
#images .result .description,
#images .result .source,
#images .result .type,
#images .result .url {
  display: none;
}

#images .result .image img {
  vertical-align:middle;
}



