#logo {
  position:absolute;
  top:0;
  left:0px;
  height:100%;
  background:transparent;
  color:white;  
  text-align:center;
}
#logo img {
  width:90%;
  vertical-align:middle;
}
body.mode-detail #logo {
  width:40px;/*logo-small.width*/
}
body.mode-list #logo {
  width:120px;/*logo.width*/
}
#q-wrap {
  position:absolute;
  top:5px;
  bottom:5px;
  overflow:hidden;
}
body.mode-detail #q-wrap {
  left:40px;/*logo-small.width*/
  right:30px;/*submit-small.width*/
  top:2px;
  bottom:2px;
}
body.mode-list #q-wrap {
  left:120px;/*logo.width*/
  right:60px;/*submit.width*/
}
#q {
  font-size:inherit;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background: transparent;
  z-index:2;
  font-weight:inherit;
  font-family:inherit;
}
#progress {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:0;
  z-index:0
}
#submit-wrap {
  position:absolute;
  overflow:hidden;
  right:0px;
  top:0px;
  bottom:0px;
}
body.mode-detail #submit-wrap {
  width:30px;/*submit-small.width*/
}
body.mode-list #submit-wrap {
  width:60px;/*submit.width*/
}
#submit {
  width:100%;
  height:100%;
  border:none;
  font-weight:inherit;
  font-family:inherit;
  padding:0;
}
