/* 
	CUSTOMIZERS: 
	override positioning settings here. make sure to keep values with same tags synchronized.
	

	DEVELOPERS:
	only positioning overrides for other .css files go in this file.
	make sure to include everything that can be overrided
	and to tag values that need to be kept synchronized with the same tag
*/

/* main.css overrides */
body.mode-detail #header {
  height:25px;/*header-detail.height*/
  line-height:25px;/*header-detail.height*/
}
body.mode-list #header {
  height:40px;/*header.height*/
  line-height:40px;/*header.height*/
}
body.mode-detail #content {
  top:25px;/*header-detail.height*/
}
body.mode-list #content {
  top:40px;/*header.height*/
}
#content {
  bottom:20px;/*footer.height*/
}
#footer {
  height:20px;/*footer.height*/
}

/* header.css overrides */
body.mode-detail #logo {
  width:40px;/*logo-small.width*/
}
body.mode-list #logo {
  width:120px;/*logo.width*/
}
body.mode-detail #q-wrap {
  left:40px;/*logo-small.width*/
  right:30px;/*submit-small.width*/
}
body.mode-list #q-wrap {
  left:120px;/*logo.width*/
  right:60px;/*submit.width*/
}
body.mode-detail #submit-wrap {
  width:30px;/*submit-small.width*/
}
body.mode-list #submit-wrap {
  width:60px;/*submit.width*/
}
/* content.css overrides */ 
.box-header {
  height:15px;/*box-header.height*/
  line-height:15px;/*box-header.height*/
}
.box-scroll {
  top:15px;/*box-header.height*/
}
#images-wrap {
  height:100px;/*images.height*/;
}
body.mode-detail #images-wrap {
  height:65px;/*images-detail.height*/;
}
#results-wrap {
  top:100px;/*images.height*/;
}
body.mode-detail #results-wrap {
  top:65px;/*images-detail.height*/;
}
#results {
  width:240px;/*results.column*/ /* should be results.width + 2* results.gap */
  padding:10px 0;/*results.gap*/
}
body.mode-detail #results {
  width:220px;/*results.width*/
}
body.mode-list #results {
  -moz-column-width:240px;/*results.column*/
  -webkit-column-width:240px;/*results.column*/
}
/* results.css overrides */
#results .datasource {
  clear:both;
}
body.mode-list .datasource {
  padding-right:10px;/*results.gap*/
}
body.mode-detail #results {
  width:220px;/*results.width*/
}
#results .datasource-header {
  display:inline-block;
  width:220px;/*results.width*/
}
#results .result {
  width:220px;/*results.width*/
}





