/* results.css overrides */

/* R E S U L T S */
#results .datasource {
  clear:both;
}
body.mode-list .datasource {
  padding-right:10px;/*results.gap*/
}


#results .datasource-header {
  display:inline-block;
  width:220px;/*results.width*/
}

/* R E S U L T */
#results .result {
  clear:both;
  display:inline-block;
  width:220px;/*results.width*/
}

#results-scroll .result.ghost {
  display:none;
  position:absolute;
  left:0;
}
body.mode-detail #results-scroll .result.ghost.top {
  display:block;
  top:0;
  bottom:auto;
}
body.mode-detail #results-scroll .ghost.bottom {
  display:block;
  top:auto;
  bottom:0;
}
/* I M A G E S */
#images {
  white-space:nowrap;
}
/* I M A G E */
#images .result {
  display:inline-block;
  position:relative;
}
#images .result .name,
#images .result .description,
#images .result .source,
#images .result .type,
#images .result .url {
  display: none;
}

#images .result .image img {
  vertical-align:middle;
}



